github.com/BurntSushi/toml
github.com/gocql/gocql
github.com/golang/protobuf/proto
github.com/jinzhu/gorm
github.com/jinzhu/gorm/dialects/mysql
github.com/ssdb/gossdb/ssdb
gopkg.in/go-playground/validator.v9
gopkg.in/mgo.v2
gopkg.in/mgo.v2/bson